h1{
    text-align: center;
}

.confirmation-container{
    margin-top: 67px 
}

h2{
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0px 10px 30px;
}

.white{
    color: #fff;
    filter: brightness(2.4);
}

.confirmation-container p{
    margin: 5px 0px 0px 30px;
    font-size: 20px;
    color: #ff7300;
}

.return-home{
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    margin-top: 70px;
    width: 250px;
    height: 50px;
    background: #333;
    border-radius: 8px;
    color: #ff6a00;
}

.return-home:hover{
    filter: brightness(110%);
    text-shadow: 0 0 5px #ff6a00;
    transform: translateY(-5%);
    box-shadow: 0 2px 2px 0 #ff6a00;
}

.return-home:active{
    box-shadow: 0 1.5px 1px 0 #ff6a00;
    transform: translateY(-2%);
}

.buyer-info{
    margin-top: 15px;
}

.seat-number{
    color: #293845;
    font-size: 22px;
    font-weight: bold;
}