.nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 67px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #C3CFD9;
}

.nav-bar p {
    cursor: pointer;
    font-size: 34px;
    color: #E8833A
}