.seat{
    cursor: pointer;
    margin: 9px 8px 9px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.available{
    background: #ddd;
    box-shadow: 0 1px 3px 0 #fff;
    transition: all .15s;
}

.available:hover,
.available:focus
{
    transform: translateY(-5%);
    box-shadow: 0 2px 6px #fff;
}

.available:active{
    transform: translateY(-1%);
    box-shadow: 0 1px 4px #fff;
}


.unavailable{
    background: #f9fd01;
    box-shadow: 0 2px 5px 0 #f9fd01;
    transition: all .15s;
}

.unavailable:hover,
.unavailable:focus
{
    transform: translateY(-5%);
    box-shadow: 0 2px 6px #f9fd01;
}

.unavailable:active{
    transform: translateY(-1%);
    box-shadow: 0 1px 4px #f9fd01;
}


.selected{
    background: #02fa02;
    box-shadow: 0 2px 5px 0 #02fa02;
    transition: all .15s;
}

.selected:hover,
.selected:focus{
    transform: translateY(-5%);
    box-shadow: 0 2px 6px #02fa02;
}

.selected:active{
    transform: translateY(-1%);
    box-shadow: 0 1px 4px #02fa02;
}

.available p,
.unavailable p,
.selected p{
    font-size: 12px;
}

@media (max-width: 600px) {
    .seat{
       width: 26px;
       height: 26px;
    }
}